.dot{
    background-color: tomato;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

}
.bang{
    color: tomato;
    width: 8px;
    height: 8px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    border-radius: 100%;
    padding: 3px;
    font-size: 14px;
    left: 140px;
    bottom: 0px;


}